<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <!-- ユーザー名とメールアドレスには1行の入力フォームで十分です。
          1行のフォームは<input>タグを用いて作成できます。なお、<input>タグは終了タグ（</input>）が不要です。
          <input>タグでは、value属性の値が初期値となります。埋め込みRubyのコードをダブルクォーテーションで囲む必要があります。 -->
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>